{%- set heading = "## [" ~ config.extra.name ~ "](" ~ section.permalink ~ ")" ~ nl ~ "@" ~ config.extra.id ~ " · " ~ config.extra.bio -%}
{%- set links = section.extra.links | filter(attribute="icon", value="github") | concat(with=section.extra.links | filter(attribute="icon", value="mastodon")) -%}
{"component":{"type":17,"components":[
{"type":9,"components":[{"type":10,"content":{{ heading | json_encode() | safe }}},{"type":10,"content":{{ og_description | json_encode() | safe }}}],"accessory":{"type":11,"media":{"url":{{ get_url(path=config.extra.avatar) | json_encode() | safe }}}}},
{"type":14,"divider":true,"spacing":1},
{"type":1,"components":[
{%- for link in links -%}
{"type":2,"style":5,"label":{{ link.name | json_encode() | safe }},"url":{{ link.url | json_encode() | safe }}},
{%- endfor -%}
{"type":2,"style":5,"label":"Blog","url":{{ get_url(path="posts/", trailing_slash=true) | json_encode() | safe }}},
{"type":2,"style":5,"label":"Tags","url":{{ get_url(path="tags/", trailing_slash=true) | json_encode() | safe }}}
]}]}}
